In [3]:
import pandas as pd
df=pd.read_csv("fortune500.csv")

In [4]:
df.columns

Index(['Year', 'Rank', 'Company', 'Revenue (in millions)',
       'Profit (in millions)'],
      dtype='object')

In [5]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29500 entries, 0 to 29499
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   29500 non-null  int64
 1   Rank                   29500 non-null  int64
 2   Company                29500 non-null  object
 3   Revenue (in millions)  29500 non-null  object
 4   Profit (in millions)   29500 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [6]:
df.head()

   Year  Rank           Company Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                9823.5                  806
1  1955     2       Exxon Mobil                5661.4                584.8
2  1955     3        U.S. Steel                3250.4                195.4
3  1955     4  General Electric                2959.1                212.6
4  1955     5            Esmark                2510.8                 19.1

In [11]:
import numpy as np
array2 = np.array(df.to_numpy())

In [12]:
num_classes2 = len(np.unique(array2[:, -1]))
num_features2 = array2.shape[1] - 1

In [13]:
print("Number of classes in dataset 2:", num_classes2)
print("Number of features in dataset 2:", num_features2)

Number of classes in dataset 2: 8677
Number of features in dataset 2: 4

In [15]:
for i in range(num_features2):
    unique_values = np.unique(array2[:, i])
    num_unique_values = unique_values.shape[0]
    if num_unique_values < 20:
        print("Feature", i, "has", num_unique_values, "discrete values:", unique_values)
    else:
        min_value = np.min(array2[:, i])
        max_value = np.max(array2[:, i])
        print("Feature", i, "has continuous values in range [", min_value, ",", max_value, "]")

Feature 0 has continuous values in range [ 1955 , 2009 ]
Feature 1 has continuous values in range [ 1 , 1000 ]
Feature 2 has continuous values in range [ 3Com , eBay ]
Feature 3 has continuous values in range [ 1,629.70 , 99973 ]