In [1]:
import cudf

/opt/conda/lib/python3.8/site-packages/cupy/_environment.py:440: UserWarning:
--------------------------------------------------------------------------------

  CuPy may not function correctly because multiple CuPy packages are installed
  in your environment:

    cupy-cuda115, cupy-cuda11x

  Follow these steps to resolve this issue:

    1. For all packages listed above, run the following command to remove all
       existing CuPy installations:

         $ pip uninstall <package_name>

      If you previously installed CuPy via conda, also run the following:

         $ conda uninstall cupy

    2. Install the appropriate CuPy package.
       Refer to the Installation Guide for detailed instructions.

         https://docs.cupy.dev/en/stable/install.html

--------------------------------------------------------------------------------

  warnings.warn(f'''

In [2]:
! pip install cudf

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: cudf in /opt/conda/lib/python3.8/site-packages (22.6.0a0+319.g97422602b8)
Requirement already satisfied: protobuf<3.21.0a0,>=3.20.1 in /opt/conda/lib/python3.8/site-packages (from cudf) (3.20.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.8/site-packages (from cudf) (21.3)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from cudf) (2022.7.1)
Requirement already satisfied: nvtx>=0.2.1 in /opt/conda/lib/python3.8/site-packages (from cudf) (0.2.5)
Requirement already satisfied: pandas<1.5.0dev0,>=1.0 in /opt/conda/lib/python3.8/site-packages (from cudf) (1.4.3)
Requirement already satisfied: cuda-python<12.0,>=11.5 in /opt/conda/lib/python3.8/site-packages (from cudf) (11.8.1)
Requirement already satisfied: cachetools in /opt/conda/lib/python3.8/site-packages (from cudf) (5.2.0)
Requirement already satisfied: cupy-cuda115 in /opt/conda/lib/python3.8/site-packages (from cudf) (10.5.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from cudf) (1.22.4)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.8/site-packages (from cudf) (4.3.0)
Requirement already satisfied: numba>=0.53.1 in /opt/conda/lib/python3.8/site-packages (from cudf) (0.56.4)
Requirement already satisfied: cython in /opt/conda/lib/python3.8/site-packages (from cuda-python<12.0,>=11.5->cudf) (0.29.32)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from numba>=0.53.1->cudf) (59.5.0)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.8/site-packages (from numba>=0.53.1->cudf) (4.12.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /opt/conda/lib/python3.8/site-packages (from numba>=0.53.1->cudf) (0.39.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas<1.5.0dev0,>=1.0->cudf) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.8/site-packages (from pandas<1.5.0dev0,>=1.0->cudf) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas<1.5.0dev0,>=1.0->cudf) (1.16.0)
Requirement already satisfied: fastrlock>=0.5 in /opt/conda/lib/python3.8/site-packages (from cupy-cuda115->cudf) (0.8)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.8/site-packages (from importlib-metadata->numba>=0.53.1->cudf) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from packaging->cudf) (3.0.9)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
import cudf

In [15]:
# df_cpu = pd.read_csv('/adult-dataset.csv')
df_gpu = cudf.read_csv('adultDataset.csv')
df_gpu.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [14]:
df_gpu.columns.values

array(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'], dtype=object)

In [1]:
import pandas as pd
df= pd.read_csv("adult.csv")
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [2]:
df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

Number of Features in the dataset

In [3]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Number of classes in the dataset

In [22]:
df[' <=50K'].astype(str)
classes=df[' <=50K'].unique()
print(classes)
for a in classes:
  print(a, df[' <=50K'].value_counts()[[a]].sum())

[' <=50K' ' >50K']
 <=50K 24719
 >50K 7841